params {

    // global params
    nanovir_dir = ''
    threads = '16'

    // canu params
    canu_binary_path = ''
    canu_high_sens_opts = 'genomeSize=5m minReadLength=300 minOverlapLength=50 minInputCoverage=0 stopOnLowCoverage=0 corOutCoverage=10000 corMhapSensitivity=high corMinCoverage=0'
    
    // hmm params
    hmmscan_evalue = '1000'
    hmmdb = ''

    // correct params
    min_weight = '1'

    // virsorter params
    virsorter_viruses = 'all'
    virsorterdb = ''

    // checkv params
    checkv_mode = 'end_to_end'
    checkvdb = ''
}